body {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 8em;
}

.center-txt {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}

.post-list-item {
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-family: "bebas-neue",sans-serif;
}

h1 {
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.75em;
}

.secondary-txt {
    font-family: "merriweather",serif;
    color: #8d99ae;
}

#header {
    padding-bottom: 1em;
}

#logo {
    width: 430px;
    padding: 1em;
}

#header-box {
    width: 7em;
    height: 7em;
    background-color: #d80032;
    float: left;
    position: relative;
}

#app {
    position: relative;
}
/*Home*/
.post-img {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}

#posts {
    list-style: none;
    margin-top: -2em;
    padding: 0;
}

    #posts h2 {
        margin-bottom: -.25em;
    }

    #posts h3 {
        margin-top: 0;
    }

        #posts h2:first-of-type, #posts h3:first-of-type {
            text-align: center;
        }

    #posts h2 img {
        width: .75em;
        height: auto;
    }

    #posts li {
        padding-bottom: 1em;
        position: relative;
    }

.content {
    border-left: solid #edf2f4;
    padding-left: 1em;
}

.location-txt:before {
    background-image: url(../Images/../Images/location-icon.png);
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 50px;
}


@media (max-width: 768px) {
    body {
        margin: 0;
    }

        body #posts > h2,
        body #posts > div {
            margin-left: 0;
            margin-right: 0;
        }

    #header-box {
        width: 5em;
        height: 5em;
        z-index: 1;
    }

    #logo {
        width: 250px;
    }

    #posts li:first-child .post-title {
        margin-top: 2.5em;
        position: absolute;
        display: inline-block;
        top: 0;
        color: #FFFFFF;
        width: 100%;
    }

    #posts li:first-of-type .post-img {
        width: 100%;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.75em;
    }

    #posts li:first-of-type h2 {
        font-size: 2.5em !important;
    }

    #posts li:first-of-type h3 {
        font-size: 1.75em !important;
    }

    #posts li:first-of-type .quote-img {
        display: inline !important;
    }

    #nav-button-container-sticky-wrapper {
        bottom: 2em;
        position: absolute;
        right: 0;
        left: 0;
    }

    #nav-button {
        width: 85px;
        -ms-opacity: 0.8;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
        margin: 0 auto;
    }

    #posts {
        background-color: #edf2f4;
    }

    #posts li {
        background-color: #FFFFFF;
        position: inherit;
    }

    .post-img {
        width: 45%;
    }

    .secondary-txt {
        font-size: .7em;
    }

    /*#posts li:nth-child(odd) div {
         float: right; 
    }

    #posts li:nth-child(even) img {
        float: right;
    }*/

    #posts .post-img,
   #posts div {
        display: inline-block;
    }

    /*#posts li div{
        width: 50%;
    }*/
}
